export(read_fstDB)
export(write_fstDB)
export(limits_fstDB)
export(check_limits_fstDB)

export(`[.fstDB`)
S3method("[", fstDB)

export(dim.fstDB)
S3method("dim", fstDB)

import("checkmate")
import("foreach")
import("fst")
import("data.table")

importFrom("doParallel", "registerDoParallel")
importFrom("parallel", "detectCores")
